<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.9.0" targetFramework="net452" />
  <package id="GitVersionTask" version="3.6.3" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NServiceBus" version="6.0.0" targetFramework="net452" />
  <package id="NuGetPackager" version="0.6.0" targetFramework="net452" developmentDependency="true" />
</packages>